<div class="container">
  <div class="row-post">
    <%= render 'posts/index', posts: @posts %>
      </div>
  </div>

  <div class="row user-index">
     <%= render 'users/index', users: @users %>
　</div>
</div>


