<h1>マイページ</h1>
 <div class="row">
  <div class="profile-container">
    <%= attachment_image_tag @user, :profile_image, :fill, 100, 100, format: 'jpeg', fallback: "no_image.jpg" %>
   <table class="table">
    <tr>
     <th><h4>ユーザーネーム</h4></th>
     <th><%= @user.name %></th>
    </tr>
    <tr>
     <th><h4>自己紹介文</h4></th>
     <th><%= @user.intoduction %></th>
    </tr>
    </table>
   <br>
   <br>
    <%= link_to  "プロフィールを編集", edit_user_path(@user), class:"col-xs-12 btn btn-default" %>
  </div>
</div>

<h1>あなたの投稿一覧</h1>
<div class="row">

</div>