<h1>ここはトップページです</h1>

<%= link_to "投稿一覧", posts_path, class:"btn btn-default" %>
<%= link_to "ユーザー一覧", users_path, class:"btn btn-default" %>
<%= link_to "お気に入り一覧", favorites_users_path, class:"btn btn-default" %>