<div class="container">
 <div class="row">
    <h1>投稿した内容</h1>
      <h4>画像</h4>
      <%= attachment_image_tag @post, :image, :fill, 100, 100, fallback: "no_image.jpg" %>
      <h4>コメント</h4>
      <%= @post.body %>

      <% if current_user == @post.user %>
      <%= link_to "投稿を削除", post_path(@post.id), method: :delete, data: {confirm: "本当に消しますか？"}, class:"btn btn-danger" %>
      <% end %>

 </div>
</div>