/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 @import "bootstrap-sprockets";
 @import "bootstrap";




/* フッターを固定
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}
body {
  /* フッターの下側マージンの高さ */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* ここでフッターの固定高さを設定 */
  height: 60px;
  background-color: #7fffd4;
}

/* ページのカスタムCSS */
.navbar-default {
  background-color: #7fffd4;
}


/* フッタを画面下部に固定の設定とは無関係 */
.container .text-muted {
  margin: 20px 0;
  color :#ffffff
}