/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require simple_calendar
 *= require_tree .
 *= require_self
 */
 @import "bootstrap-sprockets";
 @import "bootstrap";




// フッターを固定
html {
  position: relative;
  min-height: 100%;

}

// フッターの下側マージンの高さ
body {
  margin-bottom: 60px;

}

.container{
   margin-top: 60px;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  // フッターの高さを固定
  height: 60px;
  background-color: #d3d3d3;
  text-align: center;
  text-shadow: 1px 1px 2px black;
}


// フラッシュメッセージ
.notifications {
  color: white;
  text-align: center;
  margin-top: 50px;


  .notice {
    background-color: lightBlue;
    padding: 15px;
    margin-bottom: 20px;
    border: 1px solid transparent;
    border-radius: 4px;
  }

  .alert {
    background-color: orange;
  }
}



/* 高さを指定することにより画像が表示される */
#box{
  height: 700px;
  margin: 0;
  padding: 0;
  background-size: cover;
  background-position: top;

}


.image1 {
  background-image: url(ダンベル女性.jpg);
}
.image2 {
  background-image: url(くびれ.jpg);
}
.image3 {
  background-image: url(お喋り.jpg);
}
.image4 {
  background-image: url(ストレッチする女性.jpg);
}
.image5 {
  background-image: url(スムージー.jpg);
}
.image6 {
  background-image: url(ジョギングする人.jpg);
}
.image7 {
  background-image: url(水とダンベル.jpg);
}
.image8 {
  background-image: url(ジョギング.jpg);
}

